@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

html {
    position: relative;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Poppins', sans-serif;
}

html::after {
    content: "";
    background-image: url('/assets/imgs/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.45; 
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1; 
    bottom: 0;
}


.nav {
    padding: 10px 20px;
    display: flex;
    opacity:1;
    justify-content: space-between; 
    align-items: center;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    opacity:1;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.nav-links li {
    margin: 0 10px;
    opacity:1;
}

.nav-links li a {
    text-decoration: none;
    opacity: 1;
    cursor:pointer;
    color: black;
    font-size: 18px;
    position: relative;
}

.nav-links li a::after {
    content: '';
    position: absolute;
    bottom: -3px; 
    left: 0;
    width: 100%;
    height: 2px; 
    background-color: transparent;
    transition: background-color 0.3s ease; 
}

.nav-links li a:hover::after {
    background-color: #555; 
}

.time {
    color: black;
    font-family: 'Poppins', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top:10vw;
    align-items: center; 
    text-align: center;
}

.container h1 {
    background: linear-gradient(90deg, #001f3f, #003366, #001f3f);
    -webkit-background-clip: text;
    background-clip: text;
    margin:0;
    color: transparent;
    font-size: 58px;
}

.btns {
    margin-top: 0px;
}

.btns a {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 5px;
    text-decoration: none;
    color: white; 
    background-color: rgba(0, 0, 0, 0.5); 
    border-radius: 1px;
    transition: all  0.3s ease; 
    cursor:pointer;
}

.btns a:hover {
    background-color: rgba(0, 0, 0, 0.7); 
}
