@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

:root {
  --primary-color: #ffffff;
  --secondary-color: #a3a3a3;
  --third-color: #696969;
  --text-color: #ffffff;
  --background: url("/assets/imgs/backgrounds/astroslate.png");
  --container: rgba(150, 150, 150, 0.28);
  --containerborder: #4a4a4a;
  --selected: #919191;
  --buttonbg: #ffffff;
}


* {
  transition: 0.4s;
  color: var(--text-color);
}

html {
  position: relative;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: #444;
  background-image: var(--background);
  background-repeat: no-repeat;
  background-size: cover;
}

body::after {
  content: "";
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.45;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  bottom: 0;
}

.nav {
  padding: 10px 20px;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  margin-right: auto;
}

.nav-logo img {
  width: 00px;
  margin: 0;
  position: absolute;
  left: 0;
  top: 0;
  height: auto;
  transform: scaleX(-1);
}

.nav-links {
  list-style: none;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

.nav-links li {
  margin: 0 10px;
}

.nav-links li a {
  text-decoration: none;
  cursor: pointer;
  color: var(--text-color);
  font-size: 18px;
  position: relative;
}

.nav-links li a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: var(--third-color);
  transition: width 0.3s;
}

.nav-links li a:hover::after {
  width: 100%;
}

.time {
  color: var(--text-color);
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin: 10px auto;
  padding: 5px;
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0.3);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10vw;
  align-items: center;
  text-align: center;
}

.container h1 {
  background: linear-gradient(
    90deg,
    var(--primary-color),
    var(--secondary-color),
    var(--third-color)
  );
  -webkit-background-clip: text;
  background-clip: text;
  margin: 0;
  color: transparent;
  font-size: 68px;
  user-select: none;
}

.btns {
  margin-top: 0px;
}

.btns a {
  display: inline-block;
  padding: 10px 35px;
  margin: 0 5px;
  text-decoration: none;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.btns a:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

#proxy-screen {
  width: 100vw;
  height: 100vh;
}

/* Notifications */

.notification {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #444;
  color: white;
  padding: 15px;
  border-radius: 5px;
  opacity: 1;
  display: none;
  animation: slide-up 0.5s ease-out;
}

.notification.show {
  display: block;
}

.notification.hide {
  animation: slide-down 0.5s ease-out forwards;
  transition: opacity 0.5s;
}

@keyframes slide-up {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slide-down {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(110%);
  }
}

.duration-bar {
  height: 5px;
  background-color: #fff;
  width: 100%;
  border-radius: 5px;
}

.duration-bar.decrease {
  animation: decrease-width linear;
  animation-fill-mode: forwards;
}

@keyframes fadeout {
  to {
    opacity: 0;
  }
}

@keyframes decrease-width {
  to {
    width: 0;
  }
}

@keyframes fadeOutSlide {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.center {
  text-align: center;
}

/* Settings page */

.settings-container {
  display: flex;
  flex-direction: column; /* Make items stack vertically */
  background: var(--container);
  border: 2.5px solid var(--containerborder);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.9px);
  -webkit-backdrop-filter: blur(3.9px);
  height: auto; /* Change this value as needed */
  margin: 20px;
  width: 400px;
  padding: 10px;
  color: var(--text-color);
  overflow: hidden;
  min-height: 300px; /* Add this line to enable scrollbars when content overflows */
}

.link {
  display: inline;
  margin: 2px;
  color: var(--text-color);
}

.proxy-button:hover {
  background-color: var(--selected);
}

button {
  width: 30%;
  height: 35px;
  border-radius: 10px;
  color: var(--text-color);
  background-color: var(--buttonbg);
  border: none;
  transition: 0.5s;
}

::placeholder {
  color: var(--text-color);
}

a {
  color: var(--text-color);
}

.settings-container input {
  width: 75%;
  text-align: center;
  height: 30px;
  border-radius: 30px;
  background: none;
  color: var(--text-color);
  border: var(--text-color) 2px solid;
  transition: 0.5s;
}

input {
  width: 300px;
  text-align: center;
  height: 30px;
  border-radius: 30px;
  background: none;
  color: var(--text-color);
  border: var(--text-color) 2px solid;
  transition: 0.5s;
}

.settings-background {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: var(--background);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -9999999;
}

/* Search Page */

.search-input[type="text"]:focus {
  border: 3px solid var(--text-color);
  outline: none;
}

.search-input[type="text"] {
  padding: 1rem 3rem;
  width: 50vw;
  background: transparent;
  border: 3px solid var(--primary-color);
  border-radius: 50px;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  transition: all 0.3s ease;
  text-align: center;
}

hr {
  width: 90%;
  border: 10px solid (--text-color);
  background-color: (--text-color);
  color: (--text-color);
  border-radius: 10px;
}

.announcement-bar {
  width: 100%;
  height: 30px;
  text-align: center;
  border-radius: 0px 0px 10px 10px;
  display: none;
}

.learning {
  display: none;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--third-color);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--secondary-color);
}
