@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
* {
  margin: 0;
  padding: 0;
}
body, html {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
body {
  margin: 0;
  padding: 0;
  background: #121111;
  overflow-x: hidden;
  background-image: url(assets/img/backgrounds/loading.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-size: 50%;
  height: 100vh;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
}
*, *:before, *:after {
  box-sizing: border-box;
}

#iframe {
  width: 100%;
  min-height: 70vh;
  border: none;
  bottom: 0; 
  margin: auto;
  margin-top: 10vh;
  border-radius: 10px;
}

.iframe-container {
  display: flexbox;
  justify-content: center;
  align-items: center;
  width: 75%;
  height: 75%;
  margin: auto;
  margin-top: 10vh;
}

.buttons-bar {
  display: flex;
  justify-content: space-evenly;
  height: 50px;
  background-color: #003366;
  border-radius: 10px;
}

.buttons-container {
  font-size: 1.7em;
  text-align: right;
}

.buttons-container i {
  margin: 3px;
  cursor: pointer;
  margin-top: 9px;
}