@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

:root {
  --primary-color: #064180;
  --secondary-color: #003366;
  --third-color: #336699;
  --text-color:#fff;
}

html {
  position: relative;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(90deg, var(--primary-color), var(--secondary-color), var(--third-color));
  font-family: "Poppins", sans-serif;
}

html::after {
  content: "";
  background-image: url("../assets/imgs/backgrounds/1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.45;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  bottom: 0;
}

#uv-address {
  color: white;
}

#dynamic-address {
  color: white;
}

.nav {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  margin-right: auto;
}

.nav-links {
  list-style: none;
  padding: 5px;
  display: flex;
  justify-content: flex-end;
  font-family: "Poppins", sans-serif;
}

.nav-links li {
  margin: 0 10px;
}

.nav-links li a {
  text-decoration: none;
  cursor: pointer;
  color: var(--text-color);
  font-size: 18px;
  position: relative;
}

.nav-links li a::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background:var(--third-color);
  transition: width 0.3s;
}

.nav-links li a:hover::after {
  width: 100%;
}


.time {
  color: var(--text-color);
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin: 10px auto;
  padding: 5px;
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0.3);
}

.container {
  display: flex;
  flex-direction: column;
  margin-top: 10vw;
  width: 100%;
  align-items: center;
  text-align: center;
}

.container h1 {
  background: linear-gradient(90deg, #001f3f, #003366, #001f3f);
  -webkit-background-clip: text;
  background-clip: text;
  margin: 0;
  color: transparent;
  font-size: 68px;
}


input[type="text"] {
  padding: 1rem 3rem;
  width: 50vw;
  background: transparent;
  border: 3px solid #001f3f;
  border-radius: 50px;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  transition: all 0.3s ease;
   text-align: center;
}

input[type="text"]:focus{
  border: 3px solid #003366;
  outline:none;
}