@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

html {
  position: relative;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

html::after {
  content: "";
  background-image: url("/assets/imgs/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.45;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  bottom: 0;
}

.nav {
  padding: 10px 20px;
  display: flex;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
}

.nav-links {
  list-style: none;
  padding: 5px;
  flex-grow: 1;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

.nav-links li {
  margin: 0 10px;
}

.nav-links li a {
  text-decoration: none;
  cursor: pointer;
  color: black;
  font-size: 18px;
}

.nav-links li a::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.nav-links li a:hover::after {
  background-color: #555;
}


.container {
  display: flex;
  flex-direction: column;
  margin-top: 10vw;
  width: 100%;
  align-items: center;
  text-align: center;
}

.container h1 {
  background: linear-gradient(90deg, #001f3f, #003366, #001f3f);
  -webkit-background-clip: text;
  background-clip: text;
  margin: 0;
  color: transparent;
  font-size: 68px;
}

input[type="text"] {
  padding: 10px;
  width: 50vw;
  background: transparent;
  border: 3px solid #001f3f;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  transition: all 0.3s ease;
}

input[type="text"]:focus{
  border: 3px solid #003366;
  outline:none;
}